.experience {
  padding-bottom: 50%;
}

.pt-20 {
  padding-top: 20px;
}

.timebox {
  position: fixed;
  position: sticky;
  position: -webkit-sticky;
  float: right;
  top: 20%;
}


.timeboxM {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-content: flex-start
}

.image {
    height: 34px;
    filter: grayscale(2)
}

.yearlist a {
  font-weight: bolder;
  font-size: 1.2em;
  color: #07cb79;
}
.yearlistM {
  padding: 20px 5px;
  background-color: #07cb79;
  margin-right: 4px;
}
.yearlistM a {
  color: white;
}

.yearlist.active i {
  margin-left: 10px;
  margin-top: 8px;
  position: absolute;
  color: #07cb79;
  font-size: .7em;
  animation: timelineDot 600ms ease-in-out;
}

@keyframes timelineDot {
    0% {opacity: 0; margin-top: 0px;}
    100% {opacity: 100; margin-top: 8px;}
}

.timeLine {
  border-right: solid 1px #07cb79;
}

.projectCard {
  padding: 10px;
}
.expCard {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  margin-bottom: 15px;
  margin-left: -8px;
}