.status {
  padding: 2px 8px;
}
.green {
  background-color: #07cb79;
  color: #fff;
}
.h1 {
  font-size: 1.6em;
}
.h1 .light {
  font-weight: 600;
}

.h2 {
  font-size: 1.2em;
  color: #ababab;
  margin-bottom: 2px;
}
hr {
  border-bottom: solid 1px #808080;
  background-color: #ababab;
  border-top: none;
  background-color: #ababab;
}

.label {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.label::first-letter {
  font-size: 130%;
}

.value {
  font-weight: 300;
  text-align: left;
}

.value .label,
.small {
  font-size: 0.8em;
}

.round-corner {
  border-radius: 4px;
}
.card,
.section {
  padding: 10px 0;
}
.card,
.card-light,
.section {
  margin-bottom: 6px;
}

.section .label {
  padding-left: 8px;
}
.section .value {
  padding-left: 20px;
}
.walmart::before {
  display: inline-block;
  content: ' ';
  background-image: url(/assets/walmart-labs.jpg);
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.right {
  justify-content: flex-end;
}

@media only screen and (max-width: 576px) {
  .card,
  .card-light,
  .card-nbpm,
  .section {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  }
  :global(.container-fluid) {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .right {
    justify-content: center;
  }
  hr {
    display: none;
  }
  .xsNoPad {
    padding: 0px !important;
  }
  .value {
    padding-left: 20px !important;
  }
}

@media (min-width: 768px) {

}

a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.fgwhite {
  color:white
}