body *, html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-margin-collapse: collapse;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
